<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arup.arupblelampan" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ArupBLELampanApp</name>
    <description>
        Arup BLE connected Lampan.
    </description>
    <author email="francesco.anselmo@arup.com" href="http://lightlab.arup.com">
        Arup
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
